.sub-title{
  font-family: 'Montserrat ExtraBold', sans-serif;
}

.footer-text{
  font-family: 'Montserrat', sans-serif;
}

.logo-menu{
    width: 80%;
}

.hero .p-hero{
    color: #ffffff; 
}

.gallery-portfolio{
    display: flex;
    width: 600px;
    height: 430px;
}

.img-portfolio{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.img-portfolio:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

/* Texto footer copyright */

.template-text{
    color: #afafaf;
    opacity: .01;
    font-size: xx-small;    
}


/* GALERÍA SERVICIOS */

/* .p-icon-service {
  text-align: center;
  
}

.h3-icon-service {
  text-align: center;
}

.icon-service{
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
} */

.service-iconos{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;   
  padding-right: 15px;
}


.content-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center; 
  margin-top: 5%;
  height: 400px;
  width: 100%;
  padding-right: 15px;
  background: whitesmoke;
}

.container-service {
  width: 100%;
  max-width: 300px;
  margin: 10px 0; 
  text-align: center; 
}

.service-img-card {
  width: 100%;
  max-width: 100%;
  box-shadow: 1px 1px 5px #000;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
 
}

.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
}

.text-intro {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgba(27, 27, 27, .4);
  color: #dfdfdf;
  text-align: center;
  transition: .3s;
  overflow: hidden;
}

.h3-service {
  margin: 10px;
  font-size: x-large;
  text-transform: uppercase;
  font-family: 'Montserrat ExtraBold', sans-serif;
  color:#838383;
}

.p-service {
  font-size: large;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.service-img-card:hover .text-intro {
  height: auto;
  background: #000;
  opacity: .8;
  bottom: 22.5%;
}

.service-img-card:hover {
  cursor: pointer;
}

.service-img-card:hover .p-service {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
} 

/* GALERÍA SERVICIOS RESPONSIVE */

@media (max-width: 1000px) {
  .container-service {
    max-width: 70%; 
  }

  .service-img-card:hover .text-intro {
    bottom: 0;
  }

  .content-service {
    height: auto;
    justify-content: center;    
    padding-bottom: 10px;
    
  }

  .h3-service {
    margin: 10px;
    font-size:medium;
    text-transform: uppercase;
    font-family: 'Montserrat ExtraBold', sans-serif;
    color:#838383;
  }
  
  .p-service {
    font-size: small;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  .service-img-card:hover .text-intro {
    height: auto;
    background: #000;
    opacity: .8;
    bottom: 22.5%;
  } 
  h1, h2 {
    font-family: 'Montserrat Back', sans-serif !important;
  }
  h3, h4, h5 {
    font-family: 'Montserrat ExtraBold', sans-serif !important;
  } 

  h6 {
    font-family: 'Montserrat Bold', sans-serif !important;
  }
  
  p {
    font-family: 'Montserrat', sans-serif !important;
  }
}

.service-img-card:hover .img-card {
  transform: scale(1.1) rotate(-3deg);
}

/* FIN GALERÍA SERVICIOS*/

/* WHATSAPP */

.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }
 
  .whatsapp-icon {
	margin-top:13px;
  }

  .whatsapp-icon:hover {
    color: #9e9e9e;
  }

  .whatsapp:hover {
    color: #9e9e9e;
  }

  .fixed-action-btn {  
    position: fixed;
    bottom: 50px;
    left: -5px;
    z-index: 999;
  }
  
  .fixed-action-btn .whatsapp-btn {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .fixed-action-btn .whatsapp-btn:hover {
    width: 100px;
  }
  
  .fixed-action-btn .slider {
    position: absolute;
    bottom: 0;
    left: 90px;
    background-color: #25d366;
    color: #fff;
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.3s ease;
    opacity: 0;
    white-space: nowrap;
    /* text-transform: uppercase; */
  }
  
  .fixed-action-btn:hover .slider {
    opacity: 1;
    left: 90px;
  }
  
  .tab {
    white-space: nowrap;
  }
  
  .btn-floating {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-floating i {
    color: #fff;
  }
  
  .btn-lg {
    width: 64px;
    height: 64px;
    font-size: 24px;
  }

/* END WHATSAPP */ 



/* NO REPRODUCE VIDEO EN VERSION MOBILE */ 

@media screen and (max-width: 768px) {
  .video-container {
      display: none;
  }
}