.sub-title{
  font-family: 'Montserrat Black', sans-serif !important;
  font-size: x-large !important;
  align-items: start !important;
}

.section-service-text {
  padding: 10rem 0 !important; 
  background-color: whitesmoke !important;
}
  @media (max-width: 991.98px) {
    .section-service-text {
      padding: 3rem 0 !important; 
    } 
}

.img-about{
  box-shadow: 0 15px 10px -18px rgba(0, 0, 0, 0.4) !important;
}

.faq-sub-title{
  color: #3d3d3d !important;
}

.faq-section{
  background-color: #ffff !important;
}

.conteiner-material{
  background-color: whitesmoke !important;
}

.footer-text{
  font-family: 'Montserrat', sans-serif;
}

.footer-list:hover{
  color: #000;
}

.link-footer:hover{
  color: #000;
}

.social-media{
  justify-items: right !important;
  padding-left: 30px;
}

@media (max-width: 1000px) {
  .social-media{
    justify-items: right !important;
    padding-left: 2px;
  }  
}

.p-info-imp {
  font-family: 'Montserrat ExtraBold', sans-serif !important;
}

.logo-menu{
    width: 80%;   
}

.hero .p-hero{
    color: #ffffff; 
}

.portfolio-bg{
  background: whitesmoke;
  width: 100%;
  
}

.gallery-portfolio{
    display: flex;
    width: 600px;
    height: 430px;
}

.img-portfolio{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.img-portfolio:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

/* Texto footer copyright */

.template-text{
    color: #afafaf;
    opacity: .01;
    font-size: xx-small;    
}

.material-text{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;   
  padding-right: 15px;
}

.heading-content-materials{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 2px;
}

/* GALERÍA SERVICIOS */

.service-iconos{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: right;
  align-items:center !important;   
  padding-right: 15px;
}


.content-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center; 
  margin-top: 5%;
  height: 400px;
  width: 100%;
  padding-right: 15px;
  /* background: whitesmoke; */
}

.container-service {
  width: 96%;
  max-width: 300px;
  margin: 10px 0; 
  text-align: center; 
}

.container-service{
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.container-service:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 1000px){
  .container-service{
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }
  
  .container-service:hover {
    filter: grayscale(0%);
  }
}

.service-img-card {
  width: 96%;
  max-width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  overflow: hidden;
  /* border-radius: 5px; */
  transition: 0.3s;
  position: relative;
 
}

.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
}

.text-intro {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgba(27, 27, 27, .4);
  color: #ffffff;
  text-align: center;
  transition: .3s;
  overflow: hidden;
}

.h3-service {
  margin: 10px;
  font-size: x-large;
  text-transform: uppercase;
  font-family: 'Montserrat ExtraBold', sans-serif;
  color:#ffffff;
}

.p-service {
  font-size:medium;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.service-img-card:hover .text-intro {
  height: auto;
  background: #000;
  opacity: .8;
  /* bottom: 22.5%; */
}

/* .service-img-card:hover {
  cursor: pointer;
} */

.service-img-card:hover .p-service {
  opacity: 1;
  visibility: visible;
  transition: 0.8s;
} 

/* .fotter-mail {
  align-items: center !important;
  align-content: center !important;
} */


/* GALERÍA SERVICIOS RESPONSIVE */

@media (max-width: 1000px) {
  .container-service {
    max-width: 70%; 
  }

  .service-img-card:hover .text-intro {
    bottom: 0;
  }

  .content-service {
    height: auto;
    justify-content: center;    
    padding-bottom: 10px;
    
  }

  .h3-service {
    margin: 10px;
    font-size:medium;
    text-transform: uppercase;
    font-family: 'Montserrat ExtraBold', sans-serif !important;
    color:#ffffff !important;
  }
  
  .p-service {
    font-size: small;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  .service-img-card:hover .text-intro {
    height: auto;
    background: #000;
    opacity: .8;
    bottom: 22.5%;
  } 
  
  h1, 
  h2{
    font-family: 'Montserrat Black', sans-serif !important;
  }
  h3,
  h4{
    font-family: 'Montserrat ExtraBold', sans-serif !important;
  }

  h5,
  h6{
    font-family: 'Montserrat Bold', sans-serif !important;
  }
  
  
  p,
  a {
    font-family: 'Montserrat', sans-serif !important;
  }
}

.swal2-text {
  font-family:'Montserrat', sans-serif;
}

.swal2-text2 {
  font-family: 'Montserrat Bold', sans-serif !important;
}

.service-img-card:hover .img-card {
  transform: scale(1.1) rotate(-3deg);
}

/* FIN GALERÍA SERVICIOS*/

/* WHATSAPP */

.whatsapp {
  display: none;
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }
 
  .whatsapp-icon {
	margin-top:13px;
  }

  .whatsapp-icon:hover {
    color: #9e9e9e;
  }

  .whatsapp:hover {
    color: #9e9e9e;
  }

  .fixed-action-btn {  
    position: fixed;
    bottom: 50px;
    left: -5px;
    z-index: 999;
  }
  
  .fixed-action-btn .whatsapp-btn {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .fixed-action-btn .whatsapp-btn:hover {
    width: 100px;
  }  
  
  .btn-floating {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .btn-floating i {
    color: #fff;
  } */
  
  .btn-lg {
    width: 64px;
    height: 64px;
    font-size: 24px;
  }
 

/* END WHATSAPP */ 



/* PORTFOLIO */
/* CARRUSEL */
body {
  background-color: lightgrey;
}


@media (max-width: 900px){
  .overlay-mobile{
    width: 100% !important;
    height: 450px !important;
  }

}


.slider-container {
  box-sizing: border-box;
  width: 650px;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 1000%;
  transition: transform 0.5s ease-in-out;
  margin-left: 0;
}

.slide {
  flex: 0 0 700px;
  margin-right: 0px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;

}

.prev, .next {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


@media (max-width: 900px) {
  .slider-container {
     justify-content: center!important; 
  }
}



/* END PORTFOLIO */



/* TEXTO HEADER EN VERSION MOBILE */
@media (max-width: 767px) {
  .title-hero {
      color: #000000!important; 
  }
}

/* BOTÓN BACK TO TOP */

/* Estilos para el botón "Back to Top" */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 23px;
  width: 50px;
  height: 50px;
  background-color: rgba(169, 169, 169, 0.5);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  z-index:100;
}


#backToTopBtn.show {
  display: block; 
}

#backToTopBtn:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Cambia el color de fondo al pasar el cursor sobre él */
}

/* FORMULARIO */
.form-control{
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-color: rgb(146, 145, 145);
  font-family: 'Montserrat', sans-serif;
}

/* SECTION MATERIAL */

.material-section {
  /* background: #F7F7F7; */
  /* opacity: 0; */
  position: relative;
  z-index: 1;
  justify-content:right;
  margin-top: -10px;
  padding-top: 6rem;
  /* height: 10rem; */
 }
  @media (max-width: 991.98px) {
    .material-section {
      padding-top: 2rem; } }
  .material-section .heading-content {
    padding-right: 25%; }
    .material-section .heading-content h2, .material-section .heading-content .h2 {
      margin-bottom: 20px;
      font-weight: bold;
      font-family: 'Montserrat Black', sans-serif;
    }

    .sub-title-materials{
      text-transform: uppercase;
    }

  .materials-icon{
      display: flex;
      justify-content:right;
      align-items: flex-start;
      flex-wrap: wrap;
      
  }

  .hero .img-bg img {
    max-width: 100%;
    height: auto;
    background-color: #d3d3d3 !important;
}

.bg-overlay{
  background-color: #d3d3d3 !important;
}

.rellax-bg{
  background-color: #d3d3d3 !important;
}

.p-flex{
  margin-bottom: 30px !important;
}

.p-pcabs{
  margin-bottom: 70px !important;
}


.materiales-2{
  margin-top: 50px !important;
}

/* Estilos para la versión móvil */
@media (max-width: 1000px) {
  .materials-icon .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .materials-icon .elem-material {
      width: calc(33.333% - 5px); /* Establece el ancho de cada elem-material en 3 por fila con espacio entre ellos */
      /* margin-bottom: 20px;  */


  .materials-icon .service-iconos {
      flex-direction: row; /* Muestra los elementos en una fila en dispositivos móviles */
      flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
      justify-content: center; /* Centra los elementos en dispositivos móviles */
  }

  .materials-icon .img-material {
      width: 100%; /* La imagen ocupa el 100% del ancho */
      /* margin-top: 15px; 
      margin-bottom: 0px; */
      
  }
  /* Centra el elemento img-material */
  .materials-icon .img-material {
    display: flex;
    justify-content: center !important;
    align-content: center;
    padding-left: 50%;
    margin-top: 0%;
  }
  
}
}


.h3-service-mat {
  margin: 15px;
  font-size: x-large;
  text-transform: uppercase;
  font-family: 'Montserrat ExtraBold', sans-serif;
  color:#ffffff;
}

.mat-img-card {
  width: 100%;
  max-width: 100%;
  box-shadow: 1px 1px 5px #000;
  overflow: hidden;
  /* border-radius: 10px; */
  transition: 0.3s;
  position: relative;
 
}

.mat-img-card:hover .text-intro {
  height: auto;
  background: #000;
  opacity: .8;
  bottom: 22.5%;
}

.mat-img-card:hover .text-intro {
  bottom: 0;
}

/* .mat-img-card:hover {
  cursor: pointer;
} */

.mat-img-card:hover .p-service-mat {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
} 

/* .mat-img-card:hover .text-intro {
  height: auto;
  background: #000;
  opacity: .8;
  bottom: 22.5%;
}  */

.mat-img-card:hover .img-card {
  transform: scale(1.1) rotate(-3deg);
}

.p-service-mat
 {
  font-size: small;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}


.contact-section{
  background-color: whitesmoke !important;
}

@media (max-width: 1000px) {
  .map {
      display: flex;
      flex-wrap: wrap;
  }
}