.slider-container {
    width: 850px;
    height: 430px;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 850px;
  }
  
  .prev, .next {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .map-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ajusta el ancho del contenedor al 100% del viewport */
    padding-bottom: 100%; /* Hace que el contenedor sea cuadrado */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

  